.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: calc(12px + 5vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: black;
}

.space1{
  padding: 18vmin;
  background-color: white;
}

.title {
  font-size: calc(10px + 5vmin);
  padding-top: 20px;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.strapline{
  font-size: calc(10px + 2vmin);
  color: #202020;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.NavBar{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(50px + 1vmin);
  z-index: 1;
  vertical-align: middle;
  box-shadow: 0 0 12px 2px #bebebe;
}

.NavBar a{
  float: center;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  margin-top: -5px;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
  vertical-align: middle;
}

.space2{
  padding: 45vh;
  background-color: transparent;
}

.Body{
  background-color: #F3F3EF;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 150vmin;
  text-align: center;
}

.bodytitle{
  font-size: calc(20px + 2vmin);
  color: #202020;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.Body p {
  font-size: calc(3px + 2vmin);
}

.widget {
  font-family: 'Karla', sans-serif;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 3px 0.5px #bebebe;
  width: 30vw;
  background-color: white;
  transition: all 0.2s;
  margin: auto;
  margin-bottom: 5vh;
}

.widget:hover {
  box-shadow: 0 0 10px 5px #b6b6b6;
  background-color: #f6f6f6;
}

.ArrowButton {
  width: min-content;
  border: 0;
  border-radius: 4px;
  padding: 5px;
  background-color: Transparent;
}

.arrowsvg {
  width: 10px;
}

.efficiencyWidgetData {
  width: fit-content;
  margin-left: auto;
  margin-right: 0px;
}

.progressBarSkill {
  display: table-cell;
  padding-right: 10px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  border: 0;
  background-color: Transparent;
  outline: none;
  font-size: 2.5vh;
  white-space: pre-wrap;
}

.progressBarEfficiencyValue {
  text-align: right;
  margin-right: 5vw;
  font-family: 'Karla', sans-serif;
  cursor: default;
}

.EfficienciesTable {
  border-spacing: 0px;
  margin-left: auto;
  margin-right: 5vw;
  cursor: default;
}

.progressBarSkill {
  display: table-cell;
  padding-right: 10px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  border: 0;
  background-color: Transparent;
  outline: none;
  font-size: 2.5vh;
  white-space: pre-wrap;
}

.progressBarSkillTD {
  width: 30%;
  text-align: -webkit-center;
}

.progressBarBar {
  display: table-cell;
  width: 25vw;
  margin-left: auto;
  margin-right: 0px;
}

.progressBarBarTD {
  width: 70%;
}

.ArrowButton:focus {
  outline: 0;
}

.efficiencyWidgetTooltip {
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 0;
}

.efficiencyWidgetTooltipText {
  visibility: visible;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 15vw;
  margin-bottom: 5vh;
  padding: 5px;
  position: relative;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
}

.infoToggle:checked ~ .efficiencyWidgetTooltipText {
  opacity: 1;
}

.priceboxes{
  padding-top: 80px;
  background-color: #F3F3EF;
  background-color: white;
  height: 10vh;
}

.silver{
  transition: all 0s;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  width: 120px;
  margin-top: -28px;
  background-color: white;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  border-radius: 10px;
  border-color: #dbdbdb;
  border-width: medium;
  border-style: dashed;
}

.gold{
  transition: all 0s;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  width: 120px;
  margin-top: -28px;
  background-color: white;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  border-radius: 10px;
  border-color: #dbdbdb;
  border-width: medium;
  border-style: dashed;
}

.diamond{
  transition: all 0s;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  padding-bottom: 0px;
  width: 120px;
  margin-top: -28px;
  margin-bottom: -28px;
  background-color: white;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  border-color: #FFA500;
  border-width: medium;
  border-style: dashed;
  z-index: 0;
  color: black;
}

.crownsvg{
  width: 50%;
  position: relative;
  top: -56px;
  shadow: 10px;
  src: "./img/crown.svg";
}

.mostpopulartext{
  color: #FFA500;
  margin-bottom: 5px;
}

.diamondboxtext{
  position: relative;
  top: -60px;
}

.platinum{
  transition: all 0s;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  width: 120px;
  margin-top: -28px;
  background-color: white;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  color: black;
  border-radius: 10px;
  border-color: #dbdbdb;
  border-width: medium;
  border-style: dashed;
}

.silver:hover{
  border-style: solid;
  border-color: #ababab;
}
.gold:hover{
  border-style: solid;
  border-color: #ababab;
}
.diamond:hover{
  border-style: solid;
}
.platinum:hover{
  border-style: solid;
  border-color: #ababab;
}

.boxtitle{
  font-size: 20px;
}

.boxspace{
  display: inline-block;
  background-color: #F3F3EF;
  padding-right: 60px;
}

.prepricebox{
  display: inline-block;
  background-color: #F3F3EF;
}

.postpricebox{
  display: inline-block;
  background-color: #F3F3EF;
}

.paybox{
  background-color: #32CD32;
  background-color: white;
  height: 60px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

.paybox p{
  font-size: 10px;
  margin-top: 2px;
}

.payboxgap{
  background-color: white;
  padding-top: 10px;
}

.price{
  font-size: 20px;
  padding-top: 10px;
}

.signup{
  padding-bottom: 50%;
  width: 18vw;
  display: inline-block;
  align-items: center;
}

.texttoinputbreak{
  padding: 5vh;
}

.midboxbreak{
  padding: 1vh;
}

.boxinput{
  padding: 15px;
  background-color: white;
  transition-property: background-color, outline;
  transition-duration: 0.3s, 0.2s;
  border: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: #C0C0C0;
  box-shadow: none;
  width: 135%;
  outline: none;
  align-content: center;
  float: none;
  box-sizing:border-box;
}

.boxinput:hover{
  background-color: white;
}

.boxinput:focus{
  background-color: white;
  outline: none;
}

.confirmpasswordstatus {
  margin: 0px;
  padding: 0px;
  font-size: 90%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: #ff3333;
}

.signup p {
  padding: 0;
  margin-top: 1vh;
  font-size: 2.5vh;
  margin-bottom: 1vh;
  text-align: left;
  position: relative;
  left: 1vw;
}

.signupmessage{
  margin: 0px;
  padding: 0px;
  font-size: 90%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: #ff3333;
  text-align: left;
}

.signupsigninbreak {
  display: inline-block;
  padding-right: 10vw;
}

.login {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  text-align: center;
  width: 18vw;
}

.loginsignuptitle {
  position: relative;
  bottom: 2vh;
  left: 2.5vw;
}

.dropdown{
  border: 0px;
}

.footer{
  background-color: white;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  padding-bottom: 20px;
}
