.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: calc(12px + 5vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: black;
}

.NavBar{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(50px + 1vmin);
  z-index: 1;
  vertical-align: middle;
  box-shadow: 0 0 12px 2px #bebebe;
}

.NavBar a{
  float: center;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  margin-top: calc((50px+1vmin)/10);
  font-size: calc(10px + 1vmin);
  text-decoration: none;
  vertical-align: middle;
}

.title {
  font-size: calc(10px + 5vmin);
  padding-top: 20px;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}


.Body{
  background-color: #F3F3EF;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 150vmin;
  text-align: center;
}

.bodytitle{
  font-size: calc(20px + 2vmin);
  color: #202020;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.EfficienciesWidget {
  background-color: black;
}

.widgets {
  padding-top: calc(100px + 1vmin);
  display: inline-flex;
}

.widget {
  padding: 10px;
  border-radius: 6px;
  border-color: #bebebe;
  border-width: medium;
  border-style: solid;
  height: max-content;
}

.widgets-column {
  display: block;
}

.horizontalWidgetGap {
  padding-left: 3vw;
}

.verticalWidgetGap {
  padding-bottom: 3vw;
}

.boxinput{
  padding: 15px;
  background-color: white;
  transition-property: background-color, outline;
  transition-duration: 0.3s, 0.2s;
  border: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: #C0C0C0;
  box-shadow: none;
  width: 135%;
  outline: none;
  align-content: center;
  float: none;
  box-sizing:border-box;
}

.footer{
  background-color: white;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  padding-bottom: 20px;
}
