.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: calc(12px + 5vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: black;
}

.NavBar{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(50px + 1vmin);
  z-index: 2;
  vertical-align: middle;
  box-shadow: 0 0 5px 1px #bebebe;
  font-family: 'Karla', sans-serif;
}

.NavBar a{
  float: right;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px;
  margin-top: calc((50px+1vmin)/10);
  font-size: calc(10px + 1vmin);
  text-decoration: none;
  vertical-align: middle;
}

.pageStateNavBar {
  text-align: left;
  white-space: pre-wrap;
  display: flex;
}

.ProjectViewDropdown {
  background-color: white;
  font-size: calc(10px + 1vmin);
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

.ProjectViewDropdown:focus {
  outline: none;
}

.title {
  font-size: calc(10px + 5vmin);
  padding-top: 20px;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}


.Body{
  background-color: rgb(250,250,250);
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 150vmin;
  text-align: center;
}

.bodytitle{
  font-size: calc(20px + 2vmin);
  color: #202020;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.EfficienciesTable {
  border-spacing: 0px;
  margin-left: auto;
  margin-right: 5vw;
  cursor: default;
}

.progressBarEfficiencyValue {
  text-align: right;
  margin-right: 5vw;
  font-family: 'Karla', sans-serif;
  cursor: default;
}

.progressBarSkill {
  display: table-cell;
  padding-right: 10px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  border: 0;
  background-color: Transparent;
  outline: none;
  font-size: 2.5vh;
  white-space: pre-wrap;
}

.progressBarSkillTD {
  width: 30%;
  text-align: -webkit-center;
}

.progressBarBar {
  display: table-cell;
  width: 25vw;
  margin-left: auto;
  margin-right: 0px;
}

.progressBarBarTD {
  width: 70%;
}

.arrowsvg {
  width: 10px;
}

.ArrowButton {
  width: min-content;
  border: 0;
  border-radius: 4px;
  padding: 5px;
  background-color: Transparent;
}

.ArrowButton:focus {
  outline: 0;
}

.widgets {
  padding-top: calc(100px + 1vmin);
  display: inline-flex;
}

.widget {
  font-family: 'Karla', sans-serif;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 0 10px 1px #E2E2E2;
  background-color: white;
  transition: all 0.2s;
  z-index: 0;
  display: grid;
  width: auto;
}

.efficiencywidgetdatawrapper {
  font-family: 'Karla', sans-serif;
  padding: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 0px 0 white ,0 0 3px 0.5px #dadada;
  background-color: white;
  transition: all 0.2s;
  z-index: 0;
}

.widget:hover {
  box-shadow: 0 0 6px 1px #bebebe;
}

.efficiencyWidgetData {
  width: fit-content;
  margin-left: auto;
  margin-right: 0px;
  z-index: 0;
}

.infoToggle {
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
}

.efficiencyWidgetTooltip {
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 0;
}

.efficiencyWidgetTooltipText {
  visibility: visible;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 15vw;
  margin-bottom: 5vh;
  padding: 5px;
  position: relative;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
}

.infoToggle:checked ~ .efficiencyWidgetTooltipText {
  opacity: 1;
}

.widgets-column {
  display: block;
  width: max-content;
}

.horizontalWidgetGap {
  padding-left: 4vw;
}

.verticalWidgetGap {
  padding-bottom: 1.5vw;
}

.boxinput{
  padding: 15px;
  background-color: white;
  transition-property: background-color, outline;
  transition-duration: 0.3s, 0.2s;
  border: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: #C0C0C0;
  box-shadow: none;
  width: 50%;
  outline: none;
  align-content: center;
  float: none;
  box-sizing:border-box;
}

.footer{
  background-color: rgb(250,250,250);
  text-align: center;
  font-family: 'Heebo', sans-serif;
  padding-bottom: 20px;
}
