.App {
  text-align: center;
}

.App-header {
  background-color: #D3D3D3;
  min-height: calc(12px + 5vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: black;
}

.title {
  font-size: calc(10px + 5vmin);
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: 'Heebo',sans-serif;
}

.strapline{
  font-size: calc(10px + 2vmin);
  color: #202020;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: 'Heebo',sans-serif;
}

.NavBar{
  font-family: 'Roboto', sans-serif;
  background-color: #D3D3D3;
  text-align: center;
}

.NavBar a{
  float: center;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.body{
  background-color: #D3D3D3;
  font-family: 'Roboto', sans-serif;
  min-height: 150vmin;
  text-align: center;
  padding-top: 60px
}

.bodywithbar{
  padding-top: calc(40px + 1vmin);
}

.bodytitle{
  font-size: calc(10px + 2vmin);
  color: #202020;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Heebo',sans-serif;
}
