.App {
  text-align: center;
}

.App-header {
  background-color: #D3D3D3;
  min-height: calc(12px + 5vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: black;
}

.space1{
  padding: 1vmin;
}

.title {
  font-size: calc(10px + 5vmin);
  padding-top: 20px;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.strapline{
  font-size: calc(10px + 2vmin);
  color: #202020;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.NavBar{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(50px + 1vmin);
  z-index: 1;
}

.NavBar a{
  float: center;
  display: inline-block;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 14px;
  margin-top: 4px;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
}

.Body{
  background-color: #D3D3D3;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 150vmin;
  text-align: center;
}

.bodytitle{
  font-size: calc(20px + 2vmin);
  color: #202020;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.horizontaldiv{
  text-align: center;
}

.signupsection{
  display: inline-block;
}

.loginsection{
  display: inline-block;
}

.footer{
  background-color: #D3D3D3;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  padding-bottom: 20px;
}
